* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

body {
    background: #f2f2f2;
    color: #000;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: white;
}

header h1 {
    font-size: 48px;
    line-height: 1;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

nav a.active {
    color: #c78b5f;
    text-decoration: underline;
}

hr {
    border: 0.5px solid #aaa;
}

/* HOME */
.home {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 50px;
    padding: 40px;
    background: white;
}

.profile-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.home h2 {
    margin: 20px 0 10px;
}

.home ul {
    margin-left: 20px;
}

.skills span {
    display: inline-block;
    background: #ddd;
    padding: 8px 18px;
    border-radius: 20px;
    margin: 6px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #e0e0e0;
}

.icons img {
    width: 22px;
    margin-right: 12px;
}

/* PROJECTEN */
.projecten {
    padding: 60px 40px;
    background: white;
}

.projecten h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}